body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: url(bg2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

header{
  position: fixed;
  overflow: hidden;
  background: #22242A;
  padding: 5px;
  width: 100%;
  height: 70px;
}

footer{
  background-color: black;
  color: white;
  font-size: 20px !important;
  font-weight: normal;
  align-items: baseline !important;
}

.container{
  padding: 0;
  align-items: center;

}
.left_area h3{
  color: #fff;
  margin: 0;
  padding: auto;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #0B87A6;
}

.sidebar {
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 80px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;

}
.menu{
  padding-top: 150px;
}
#check:checked ~ .sidebar .profile_image{
  
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: 70px;
  position: absolute;
  display: block;
 
}
.sidebar .profile_image{
  display: none;
}

.sidebar h4{
  display: none;
}

#check:checked ~ .sidebar h4{
  color: #fff;
  margin-top: 110px;
  margin-left: 80px;
  position: absolute;
  display: block;
  
}


.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  background-color: black;
}
.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
  display: fixed;
}

.sidebar a span{
  display: none;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: 0px;
}

#check:checked ~ .sidebar a{
  background-color: #2f323a;
  color: #fff;
  display: block;
  width: 250px;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

#check:checked ~ .sidebar a span{
  color: #fff;
  display: inline-block;
  width: 250px;
  line-height: 60px;
  text-decoration: none;
  position: absolute;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: left;
  
  
}

.content{
  margin-left: 150px;
  height: 100vh;
  width: 1000px;
  transition: 0.5s;
  padding-top: 100px !important;
  position: static !important;
}

.bg{
  background: url(im1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.centered
{
  position: absolute;
  top: 91%;
  right: 25%;
  text-align: center;
  transform: translate(-10%,-50%);
  color: black;
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.animate_bounce{
  position: absolute;
  top: 40%;
  right: 40%;
  text-align: center;
  transform: translate(-10%,-50%);
  color: black;
  font-weight: bold;
  font-size: 40px;
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

#check:checked ~ .content{
  margin-left: 150px;
}

#check{
  display: none;
}

.container {
  
  overflow: auto;
  position: relative;
}



.btn{
  justify-content: space-between !important;
  
}

.card{
  box-shadow: 2px 4px 5px grey;
  padding: 0 !important;
  position: static !important;
  overflow: hidden !important;
}

.card2, .col-md-4, .row{
  position: static !important;
}

.heading
{
  color: #fff;
}

.container3{
  padding: 20px;
  position: static;
  background-color: rgb(40, 129, 141);
  color: black;
  border-radius: 2px;
  border: 2px solid white;
  font-size: 18px;
  font-weight: bold;
}

fieldset{
  background-color: rgb(100, 205, 237);
  padding-left: 10px;
  margin-left: 300px;

}
.content3{
  color: #fff;
  background: #63738a;
  margin-left: 150px;
  height: 100vh;
  width: 1000px;
  padding: 40px;
  transition: 0.5s;
  padding-top: 100px !important;
  position: static !important;
}

/*Form */

.content2{
  color: #fff;
  background: #63738a;
  padding-top: 100px !important;
  position: static !important;
}

.form-control{
  height: 40px;
  box-shadow: none;
  color: #969fa4;
}
.form-control:focus{
  border-color: #5cb85c;
}
.form-control, .btn{        
  border-radius: 3px;
  }
.signup-form{
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2{
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
  }
.signup-form h2:before, .signup-form h2:after{
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}	
.signup-form h2:before{
  left: 0;
}
.signup-form h2:after{
  right: 0;
}
  .signup-form .hint-text{
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
  .signup-form form{
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  }
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .btn{        
  font-size: 20px;
  font-weight: bold;		
  min-width: 140px;
  outline: none !important;
  }
.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}    	
  .signup-form a{
  color: #fff;
  text-decoration: underline;
}
  .signup-form a:hover{
  text-decoration: none;
}
.signup-form form a{
  color: #5cb85c;
  text-decoration: none;
}	
.signup-form form a:hover{
  text-decoration: underline;
}  


/* MediaQuery */


@media only screen and (max-width: 760px)
{
  .content{
    margin-left: 50px;
    height: 100vh;
    width: 400px;
    position: static !important;
  }

  #check:checked ~ .content{
    margin-left: 50px;
  }

  .content-box{
    margin-left: 50px;
    width: 80%;
    position: static;
  }

  .container3{
    padding: 40px;
  }

  .centered{
    right: 0;
    left: 120px;
  }

  .animate_bounce{
    right: 10px;
    left: 100px;
    position: relative;
  }
  
  

 






}
</style>
































































































/* */
